@use "./Settings/scss/variebles.scss";
@font-face {
    font-family: "Ember-Text2";
    src: url("./Settings/assets/fonts/Ember/AmazonEmber_Rg.ttf");
}
@font-face {
    font-family: "Ember-Text";
    src: url("./Settings/assets/fonts/Ember/Amazon-Ember-Medium.ttf");
}
body{   
    margin: 0;
    padding: 0;
    font-family: "Ember-Text2";
}
.container{
    max-width: 1450x;
    margin: 0 auto;
    padding: 0 20px;
}
input::placeholder{
    font-family: "Ember-Text2";
    letter-spacing: 1px;
}
.text-small{
    font-size: 11px;
    color: #e1dcdc;
}
.text-title{
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
.active-search{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
.default-text{
    font-size: 13px;
}
.default-link{
    font-size: 11px;
    text-decoration: none;
    color: rgb(0, 120, 120);
}