.hero{
    width: 100%;
    min-height: 80vh;
}
.hero-inner{
    width: 100%;
    overflow: hidden;
}
.hero-image-box{
    display: flex;
}
.hero-inner img{
    width: 100%;
    transition: 0.5s ease;
}

